:root {
	--color-bg: #242436;
	--color-text: #d0d0ff;
	--color-cell: #723429;
	--color-cell-hover: #612318;
	--color-cell-active: #;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: var(--color-bg);
}
