:root {
	--color-bg: #908077;
	--color-cell: #b0a099;
	--color-cell-revealed: #d0c0bb;
	--color-cell-hover: #a09088;
	--color-text: #242424;
	--color-number-1: #b0b0f1; /* #0000ff;*/
	--color-number-2: #9bffff; /*#00ffff;*/
	--color-number-3: #ace2ac; /* #00ff00;*/
	--color-number-4: #eaeaaa; /* #ffff00;*/
	--color-number-5: #f2c299;
	--color-number-6: #ec8585;
	--color-number-7: #f3a8f3;
	--color-number-8: #cd86ed;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: var(--color-bg);
}
